@media (min-width: 600px) {
    .services1{
        display: none;
    }
    .a2{
        display: none;
    }
}
body{
    background-color: #0E0E0E;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    
    
}



.intro_h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    left: 83px;
    margin-top: 94px;
    margin-left: 83px;
    font-weight: 700;
    font-size: 144px;
    margin-bottom: 0;
    line-height: 176px;
}


.intro_h2{
    margin-top: 33px;
    margin-left: 83px;
    font-weight: 500;
    font-size: 48px;
    
}



.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    width: 500px;
    height: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    border: 1px solid transparent;
    margin-top: 33px;
    margin-left: 83px;
    background-color: #3C2EE0;
    border-color: #3C2EE0;
    text-decoration: none;
}



.btn3{
    border:1px solid #ccc; /*рамка*/
	background:#eaeaea; /*фон*/
	padding: 10px 10px; /*отступы внутри*/
	text-decoration: none; /*убрать подчеркивание ссылки*/
}

.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    width: 338px;
    height: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    border: 1px solid transparent;
    
    background-color: #3C2EE0;
    border-color: #3C2EE0;
}

.img_intro{
    position: absolute;
    width: 1061px;
    height: 654px;
    margin-left: 200px;
    margin-top: -350px;
    opacity: 30%;
}


.about_h1{
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 0;
}

.about_text{
    margin-top: 46px;
    margin-left: 83px;
    margin-right: 233px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
}


.work_h1{
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    margin-top: 118px;
    margin-bottom: 0;
}

.img_work{
    margin-top: 46px;
    margin-left: 83px;
    margin-right: 383px;
}

.tabl{
    margin: 0 auto;
    margin-top: 49px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.tabl1{
    margin: 0 auto;
    margin-top: 37px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

TD {
    vertical-align: top; /* Выравнивание по верхнему краю ячейки */
    text-align: center;
   }
   #col1 {
    width: 30%; /* Ширина первой колонки */
    
   }
   #col2 {
    width: 30%; /* Ширина второй колонки */
    
   }
   #col3 {
    width: 30%; /* Ширина третьей колонки */
    
   }

.bitrix_form{
    margin-top: 46px;
}

.text_co{
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin-top: 37px;
    margin-left: 92px;
    margin-bottom: 96;
}

hr{
    border: none; /* Убираем границу */
    background-color: #C4C4C4; /* Цвет линии */
    color: #C4C4C4; /* Цвет линии для IE6-7 */
    height: 4px; /* Толщина линии */
}

.bottom_text{
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

.contacts{
    margin-bottom: 96px;
}

.link1{
    text-decoration: none;
    color: #FFFFFF;
}


@media (max-width: 1200px) {
    body{
        max-height: 100vh;
        max-height: 100%;
    }
    html{
        max-height: 100vh;
    }
}


/* Для телефонов */

@media (max-width: 600px) {
    
    html{
        min-width: 100%;
        overflow-x: hidden;
    }

    body{
        background-color: #0E0E0E;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        min-width: 100%;
        overflow-x: hidden;
        margin: 0;
        
        height: 100;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .a2{
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        
    }
    .intro_h1{
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        margin-left: 11px;
        margin-top: 32px;
        margin-bottom: 0;
        
    }
    .intro_h2{
        margin-top: 31px;
        margin-left: 11px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        
        
    }
    .btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        width: 250px;
        height: 25px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        border: 1px solid transparent;
        margin-top: 33px;
        margin-left: 11px;
        background-color: #3C2EE0;
        border-color: #3C2EE0;
        text-decoration: none;
        
       
    }
    .img_intro{
        position: absolute;
        width: 335px;
        height: 206px;
        margin-left: -250px;
        margin-top: 120px;
        
    }
    .about_h1{
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        margin-top: 350px;
    }
    .about_text{
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin-left: 14px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 0;
    }
    .work_h1{
        margin-top: 59px;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }
    .img_work{
        width: 326px;
        height: 495px;
        margin-left: 14px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .services{
        display: none;
    }
    .btn1{
        
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.42857143;
        text-align: center;
        width: 180px;
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        border: 1px solid transparent;
        margin-top: 20px;
        background-color: #3C2EE0;
        border-color: #3C2EE0;
        
    }
    .container1{
        margin: 0 auto;
    }
    .s_text{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        
    }
    .a1{
        margin: 0 auto;
    }
    .bitrix_form{
        margin: 0 auto;
    }
    .text_co{
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        width: 100%;
        margin-left: 20px;
    }

    .bottom_text{
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }










}